NEXT_PUBLIC_APP_NAME=Nextjs Starter Template
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_MODE=rest
NEXT_PUBLIC_BACKEND_MODE=external
NEXT_PUBLIC_DB_PROVIDER=mongo
NEXT_PUBLIC_AUTH_PROVIDER=custom
NEXT_PUBLIC_FEATURE_ECOMMERCE=true
NEXT_PUBLIC_FEATURE_BILLING=true
NEXT_PUBLIC_FEATURE_ADMIN=true

DATABASE_URL=
MONGODB_URI=
MONGODB_DB_NAME=nextjs_starter_template
AUTH_SESSION_SECRET=
AUTH_SESSION_SECRETS=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
ALLOW_DEMO_AUTH=false
ALLOW_INSECURE_DEV_AUTH=false
